doctype 5
html(lang="es")
  head
    title Chat +iDev    
    link(rel="stylesheet",href="bootstrap/css/bootstrap.min.css",type="text/css")    
    link(rel="stylesheet",href="style.css",type="text/css")
    script(type='text/javascript',src='jquery-1.8.3.min.js')    
    script(type='text/javascript',src='bootstrap/js/bootstrap.min.js')  
    script(type='text/javascript',src='client.js')        

  body    
    div(id="app")
      div(id="message")
        small(id="user",data-id="#{id}",data-nick="#{nick}",data-rss="#{rss}",data-starttime="#{starttime}") 
        a(href="signin_with_twitter") Logueate con Twitter
        small Publica tu comentario
        input(type="text",id="entry")
      div(id="chat")