body{
  padding: 0;
  margin: 0;
  font-family: "Calibri";
  background-color: #22252a;
  color: whitesmoke;
}
input{
  background-color: #5A5C5F;  
  border-style: dotted;
  border-color: whiteSmoke;
  color:whitesmoke;
  width:100%;
  height:60px;

}